# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo

# Django / databases
db.sqlite3
*.sqlite3

# Virtual environments
venv/
env/
.venv/

# Node
node_modules/